body{
    background:grey;
}
button{
    padding:7px 10px;
    margin:20px;
    border-radius: 8px;
}
h1{
    background-color: gainsboro;
    width:fit-content;
    font-size: 100px;
    padding:10px 70px;
    margin: 20px;
    border-radius: 8px;
}